@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bgColor: #F8F9FA; /* #212529 */
    --fontColor: #212529; /* #F8F9FA */
    --hover: #ADB5BD; /* #DEE2E6 */
}

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: var(--bgColor);
    color: var(--fontColor);
    scroll-behavior: smooth;
    height: 100%;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fontColor);
}

header section {
    margin: 0 5rem;
}

header section:first-child a img {
    width: 5rem;
    border-radius: 50%;
    margin: 0.5rem 0;
}

.tabs-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-list li a {
    color: #F8F9FA;
    text-decoration: none
}

.tabs-list li a:hover {
    color:#ADB5BD;
    transition: 0.5s;
}

.tabs-list li + li {
    margin-left: 1.5rem;
}

.tabs-list li button {
    border: 0;
}

.tabs-list li button:hover {
    background-color: #495057;
    transition: 0.5s;
}

.tabs-list li button img {
    height: 2rem;
}

.tabs-list li:last-child {
    display: none;
}

button[data-theme='dark'] {
    background-color: var(--bgColor);
}

button[data-theme='light'] {
    background-color: var(--bgColor);
}

/* MAIN */

main {
    text-align: center;
    margin: 1rem auto;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 3rem 0;
}

#about section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
}

#about section div img {
    width: 20rem;
    border-radius: 50%;
}

.about-text {
    width: 20rem;
    margin-right: 25rem;
}

/* FOOTER */

footer {
    color: var(--bgColor);
    text-align: center;
    background-color: var(--fontColor);
    height: 9.2rem;
}